#navbar {
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: #0000 !important; */
  z-index: 2;
  /* position: absolute; */
  /* margin-top: 80px; */
}
#navbar {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
#overlay {
  /* content: ' '; */
  /* position: absolute; */
  width: 100%;
  height: 100px;
  /* left: 0;
    right: 0;
    top: 0;
    bottom: 500px; */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin-top: -80px;
}
#hero {
  position: relative;
  z-index: -1;
  margin-top: -80px;
  padding-top: -80px;
  min-height: 960.25px;
}

#hero h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

#hero button {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

#games {
  min-height: 1052.33px;
  margin-top: -10px;
}

#features ul li {
  color: #ffffff;
}

#features ul li p {
  padding-left: 20px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
#features ul li h3 {
  padding-left: 20px;
  color: #ffb548;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

#system {
  min-height: 960.16px;
  margin-top: -10px;
}

#system .system-title {
  margin-top: 145px;
  font-size: 14px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

#system h1 {
  margin-top: 55px;
  color: #ffffff;
  font-size: 56px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

#system table tr td {
  border: 1px solid #979797;
  border-collapse: collapse;
}

#system table tr td h3 {
  font-family: "Arial", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
}
#system table tr td p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

#top-score h1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

#top-score p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white !important;
  z-index: 9999;
  position: relative;
}

#top-score .see-more {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: lowercase;
  color: #1a1917;
  padding: 18px 0 20px 0;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
}

#top-score .card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  width: 452.59px;
  /* height: 182.94px; */
}

#top-score .card h3 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
}

#top-score .card p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  opacity: 0.5;
}

#top-score .card p.content {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff !important;
}

#top-score .card .date {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;

  /* padding-bottom: 50px; */
}

#subscribe .lampu {
  width: 445.47px;
  height: 694.41px;
  left: 159.96px;
  margin-top: 49.98px;
}
#subscribe .detail {
  margin-top: 136px;
  margin-left: 70px;
}
#subscribe .title-subscribe {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffffff;
}

#subscribe .sub-title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 75px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

#subscribe .description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

#subscribe input:focus {
  border-color: #ffffff !important;
}

#subscribe .garis {
  opacity: 0.5;
  border: 0.5px solid #ffffff;
  /* transform: rotate(-90deg); */
}

#subscribe .navbar {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

#subscribe .copyright {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#subscribe .policy {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

.game {
  transition: all 2s;
}
.image-player:hover {
  border-radius: 30px;
  background-color: #C4C4C4;
  transition: all 2s;
}

.info {
  transition: opacity .5s ease-in-out;
}
.selected {
  border-radius: 30px;
  background-color: #C4C4C4;
  /* padding: 50px 50px; */
}

.result {
  background-color: #4C9654;
  border-radius: 10px;
}

.seri {
  background-color: #035B0C;
  border-radius: 10px;
}

.text-result {
  font-size: 38px;
  color: white;
  font-weight: 700;
}